body{
    opacity: 50%;
    background-color: #032546;
}

p,pre{
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 30px;
    
}
.wineglass {
    animation-name: pour;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: unset;
    color:azure;
}

a {
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-decoration-line: overline;
    color:azure;
  }
  

   

a :active{
    color:#E0E33B;
}
.liqu{
    position: absolute;
    top:260px;
    left:450px ;
    color:#D50001;
}
.container{
    position: absolute;
    top:260px;
    left:450px ;
    width: 50px;
    height:1000px;
    background-color: #032546;
    animation-name: godown;
    animation-duration: 10s;
    animation-delay: 5s;
    animation-fill-mode:forwards;
    animation-iteration-count: unset;
}
@keyframes pour{
    from{
        transform:none;
    }
    to{
        transform: rotate(-60deg);
    }
}
@keyframes godown{
    from{
        transform:none;
    }
    to{
        translate:0px 500px;
    }
}