path{
    fill:transparent;
}
a{
    display:inline-block;
}
#test3{
    animation-name:curve3;
    animation-delay: 1s;
    animation-duration: 4s;
}
@keyframes curve3{
    from{
        
    }
    to{
        
    }
}

